<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
      $(document).ready(function() {
              var url = "http://35.226.182.38/"
              $.getJSON(url, function success(data) {
                  $("#where").append(data.stuff + "part 1");
              });
      });
  </script>
  <script>
    $(document).ready(function(){$("#where").append("part 2a");})
  </script>

  <script>
    $(document).ready(function() {

        $("button").click(function () {
            $.getJSON( "http://35.226.182.38/", function (a) {
                     $("#where").append(a['stuff']);
            });
        });

    });
  </script>

</head>


<body>

<button>Get JSON data</button>

<div id="where">teste</div>

</body>
</html>
