<!doctype HTML>
<html>
  <head>
    <style type="text/css">.update_time_message {opacity: 0.0};
    </style>
  </head>
  <body>
    <object type="text/html" id="var_text" data="https://storage.googleapis.com/is-it-raining/isitraining.html" width=100% style="overflow:auto"></object>
    <br><br><br>
    <p id="update_statement">Last Update: </p>
    <object type="text/html" id="var_text2" data="https://storage.googleapis.com/is-it-raining/update_date.txt" height="40" width="250"></object>

    <br><br>
    <a href="https://github.com/conorbarryhoke/is_it_raining">Click here for GitHub Repo</a>
    <p class="update_time_message">html contained in include</p>
  </body>
</html>
