<br />
For our latest project, we were set to work on a completed&nbsp;<a href="https://www.kaggle.com/c/predict-west-nile-virus/data">Kaggle competition</a>&nbsp;and tasked with analyzing the appearance of West Nile Virus (WNV) in Chicago to see if we could identify where the virus would start.<br />
<br />
Having learned my lesson from <a href="https://conorbarryhoke.blogspot.com/2018/08/intuition-vs-machine.html">my experience with Ames housing prices</a>, and being given a completed Kaggle leaderboard to start with, I wanted to know what constituted a 'good' score, and how hard it would be to get there.<br />
<br />
Hoping for a nice clean graph, I took a look at the score submissions over time:<br />
<br />
<br />
<div class="tableauPlaceholder" id="viz1537294508054" style="position: relative;">
<noscript><a href='#'><img alt='Complete Set of Scores ' src='https://public.tableau.com/static/images/WN/WNVKaggleScoringFullSet/CompleteSetofScores/1_rss.png' style='border: none' /></a></noscript><object class="tableauViz" style="display: none;"><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='WNVKaggleScoringFullSet&#47;CompleteSetofScores' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;WN&#47;WNVKaggleScoringFullSet&#47;CompleteSetofScores&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
<script type="text/javascript">                    var divElement = document.getElementById('viz1537294508054');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

<br />
This is obviously a mess. If you look closely, there are some red, yellow, and green data points in there. These are respectively scores from groups with:<br />
<br />
<ul>
<li>The lowest 10 scores on the board</li>
<li>Scores closest to the average</li>
<li>Scores in the top 10 overall</li>
</ul>
<div>
These are isolated here:</div>
<div>
<br /></div>
<br />
<div class="tableauPlaceholder" id="viz1537298289904" style="position: relative;">
<noscript><a href='#'><img alt='Selected Scores ' src='https://public.tableau.com/static/images/Gr/GroupEntries/SelectedScores/1_rss.png' style='border: none' /></a></noscript><object class="tableauViz" style="display: none;"><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='GroupEntries&#47;SelectedScores' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;GroupEntries&#47;SelectedScores&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
<script type="text/javascript">                    var divElement = document.getElementById('viz1537298289904');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

<br />
<br />
Rolling over will isolate the groups.<br />
<br />
There seems to be a general elbow curve up and to the right, with groups slowly getting closer to a max score around .9. It also seems that groups who got low or medium scores in early enough had time to get into the realm of the high scorers by the end of the two-month competition.<br />
<br />
One very important statistic jumps out: entries per team. The teams who took longer to think out their answer scored higher overall:<br />
<br />
<div class="tableauPlaceholder" id="viz1537297179919" style="position: relative;">
<noscript><a href='#'><img alt='Entries over Time ' src='https://public.tableau.com/static/images/WN/WNVKaggleScoring/EntriesoverTime/1_rss.png' style='border: none' /></a></noscript><object class="tableauViz" style="display: none;"><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='WNVKaggleScoring&#47;EntriesoverTime' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;WN&#47;WNVKaggleScoring&#47;EntriesoverTime&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
<script type="text/javascript">                    var divElement = document.getElementById('viz1537297179919');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

<br />
<br />
<br />
(The high scores go up over time)<br />
<br />
The same teams were making a ton of attempts to get it right:<br />
<br />
<br />
<br />
<div class="tableauPlaceholder" id="viz1537297340366" style="position: relative;">
<noscript><a href='#'><img alt='Scoring by Attempts ' src='https://public.tableau.com/static/images/WN/WNVScoresbyAttempts/Sheet1/1_rss.png' style='border: none' /></a></noscript><object class="tableauViz" style="display: none;"><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='WNVScoresbyAttempts&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;WN&#47;WNVScoresbyAttempts&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
<script type="text/javascript">                    var divElement = document.getElementById('viz1537297340366');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

<br />
<br />
(Size of bubbles is attempts per team, shade is more blue&nbsp;for higher high scores)<br />
<br />
You can barely see the orange - nobody got it right on their first try, not by a long shot.<br />
<br />
<br />
<h2>
So What is Data Strategy?</h2>
<div>
Data Strategy is the way your initial understanding of the data impacts how you approach the project.</div>
<div>
<br /></div>
<div>
Let's collect some facts for a strategy here:</div>
<div>
<ul>
<li>We have 10 days to do this project</li>
<li>Our first few attempts got us to a score around .71 using a built-in model with little tuning</li>
<li>Most teams took about 14 days from the time of the first entry to break the .8 threshold</li>
<li>High Scoring teams had time for about 20-30 entries, on average</li>
<li>There is a tremendous amount of density in the .7-.8 range</li>
</ul>
</div>
<div>
<br /></div>
<div>
Assessment: With a decent score on the board, it's worth trying out a few simple things to bump our score a little bit, but not worth getting too invested. The scores have approached a clear limit at a max around .9, so our value add is in the interpretation.&nbsp;</div>
<div>
<br /></div>
<div>
<br /></div>
<div>
Strategy: Whip up a model and write a blog.<br />
<br /></div>
